@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {

}

h1 {

}


h2 {

}

h3 {

}

p {

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

/*-- Banner 300 X 250--*/

.banner_300_250 {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 200px;
    margin: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.banner_300_250 .img-box {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.banner_300_250 .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner_300_250 .mask {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 9px;
    position: absolute;
    top: 125px;
    left: 0;
    background: rgba(51, 51, 51, .9);

    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: all;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: all;
    -ms-transition-duration: .2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: all;
    -o-transition-duration: .2s;
    -o-transition-timing-function: ease;

    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.banner_300_250:hover .mask {
    top: 0;
}

.banner_300_250 .banner-header {
    width: 100%;
    height: 75px;
    padding: 8px 0;
}

.banner_300_250 h2 {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;

}

.banner_300_250 a.grey-link {
    text-decoration: none;
    border-bottom: 1px solid #999999;
    font-family: Arial, Vardana, sans-serif;
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    color: #999999;
    position: relative;
    top: -2px;
}

.banner_300_250 a.grey-link:link,
.banner_300_250 a.grey-link:visited {
    color: #999999;
    border-bottom: 1px solid #999999;
}

.banner_300_250 a.grey-link:active,
.banner_300_250 a.grey-link.active {
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

.banner_300_250 a.grey-link:hover {
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

.banner_300_250 .desc {

}

.banner_300_250 .desc p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #c3c3c3;
}

.banner_300_250 .bottom-block {
    width: 100%;
    padding: 0 9px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner_300_250 .price {
    text-align: center;
    padding-bottom: 5px;
}

.banner_300_250 .price p {
    display: inline-block;
    vertical-align: baseline;
    margin: 3px 2%;
    font-family: Arial, Vardana, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #be3a3a;
}

.banner_300_250 p.old-price {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    font-family: Arial, Vardana, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}

.banner_300_250 p.old-price:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #ffffff;
}

.banner_300_250 .green-pill {
    display: block;
    margin: 5px 0;
    padding: 9px 2%;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
}

.banner_300_250 .green-pill:link,
.banner_300_250 .green-pill:visited {

}

.banner_300_250 .green-pill:active,
.banner_300_250 .green-pill.active {

}

.banner_300_250 .green-pill:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
}


@media only screen and (max-width: 480px) {

    .banner_300_250 .mask {
        position: initial;
        top: 0;
        background: transparent;
    }

    .banner_300_250 .img-box {
        position: relative;
        top: 76px;
    }

    .banner_300_250:hover .mask {
        top: 0;
    }

    .banner_300_250 .banner-header {        
        padding: 5px 3%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .banner_300_250 .banner-header .inner {
        position: relative;
        z-index: 2;
    }

    .banner_300_250 .banner-header:before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, .9);
    }

    .banner_300_250 .resp-position {
        font-size: 0;
        line-height: 0;
        background: rgba(51, 51, 51, .9);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 3%;
    }

    .banner_300_250 .desc {
        display: inline-block;
        vertical-align: bottom;
        width: 58%;
        padding: 0 2% 0 0;
    }

    .banner_300_250 .desc p {
        font-size: 12px;
        line-height: 14px;
    }

    .banner_300_250 .bottom-block {
        display: inline-block;
        vertical-align: bottom;
        width: 42%;
        padding: 0 0 0 2%;
        position: relative;
    }

    .banner_300_250 .price {
        padding-bottom: 0;
    }

    .banner_300_250 p.old-price {
        font-size: 12px;
        line-height: 16px;
    }

    .banner_300_250 .price p {
        margin: 3px 1%;
        font-size: 13px;
        line-height: 16px;
    }

    .banner_300_250 .green-pill {
        margin: 0;
        padding: 4px 2%;
        font-size: 9px;
        line-height: 16px;
    }

}

/*-- /Banner --*/