@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
}

.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {

}

h1 {

}


h2 {

}

h3 {

}

p {

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

/*-- Banner 260 X 260 --*/

.banner_260_260_slider_wrapp {
    width: 260px;

    /*-----------*/
    margin: 100px;
}

.banner_260_260_slider {
    width: 220px;
    margin: 0 auto;
}

.banner_260_260_slider .slick-arrow {
    display: block;
    width: 18px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    margin: -25px 0 0 0;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: url(../img/arrows_sprite.png);
    background-repeat: no-repeat;
}

.banner_260_260_slider .slick-prev {
    left: -11px;
    background-position: -8px -2px;
}

.banner_260_260_slider .slick-next {
    right: -11px;
    background-position: -56px -2px;
}

.banner_260_260_slider .slick-dots {
    text-align: center;
    padding: 12px 0 6px 0;
}

.banner_260_260_slider .slick-dots li {
     display: inline-block;
     vertical-align: top;
     width: 9px;
     height: 9px;
     margin: 3px;
     cursor: pointer;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
}

.banner_260_260_slider .slick-dots li button {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 9px;
    height: 9px;
    cursor: pointer;
    border: 1px solid #cacaca;
    background: rgba(202, 202, 202, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.banner_260_260_slider .slick-dots li:hover button {
    background: rgba(202, 202, 202, 1);
}

.banner_260_260_slider .slick-dots li.slick-active button {
    background: rgba(202, 202, 202, 1);
}

.banner_260_260 {
    display: block;
    width: 100%;
    cursor: pointer;
    /*max-width: 220px;*/
    /*width: 220px !important;*/
    height: 220px;
    
}

.banner_260_260 .banner-header {
    max-width: 220px;
    margin: 0 auto;
    padding: 5px 0 7px 0;
    background: rgb(255, 255, 255);
}

.banner_260_260 h2 {
    font-family: Arial, Vardana, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #333333;
}

.banner_260_260 .banner-content {
    position: relative;
    max-width: 220px;
    margin: 0 auto;
}

.banner_260_260 .discount {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 2;
    min-width: 37px;
    padding: 4px 3px;
    background: #a0e96c;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
    color: #262626;
}

.banner_260_260 .img-box {
    display: block;
    height: 170px;
    overflow: hidden;
    position: relative;
}

.banner_250_200 .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner_260_260 .bottom-block {
    display: block;
    padding: 4px 5%;
    position: absolute;
    top: 143px;
    left: 0;
    background: rgba(255, 255, 255, .7);
}

.banner_260_260:hover  .bottom-block {
    top: initial;
    bottom: 0;
}

.banner_260_260 .price {
    text-align: right;
}

.banner_260_260 .price p {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 2%;
    text-transform: uppercase;
    font-family: Arial, Vardana, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #be3a3a;
}

.banner_260_260 .price p.old-price {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #333333;
}

.banner_260_260 .price p.old-price:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #333333;
}

.banner_260_260 .bottom-row {
    padding: 0 0 3px 0;
}

.banner_260_260 .bottom-row p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #333333;
}

.banner_260_260 .bottom-row .col-1 {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-right: 1%;
}

.banner_260_260 .bottom-row .col-2 {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-left: 1%;
    text-align: right;
}

.banner_260_260 .green-pill {
    display: block;
    margin: 4px 0;
    padding: 5px 2%;
    font-family: Arial, Vardana, sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    text-align: center;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 2px 0px 0px rgba(48, 72, 35, 0.004),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.75);
}

.banner_260_260 .green-pill:link,
.banner_260_260 .green-pill:visited {
    background-image: -moz-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(82,212,75) 0%, rgb(155,215,77) 100%);
}

.banner_260_260 .green-pill:active,
.banner_260_260 .green-pill.active {
    background-image: -moz-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
}

.banner_260_260 .green-pill:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(162,228,86) 0%, rgb(155,215,77) 100%);
}

/*-- /Banner 260 X 260 --*/

/*-- Dropdown Banner--*/

.mobile-content {
    width: 320px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: #ededed;
    border: 1px solid #dedede;
}

.dropdown_banner_wrapp {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: absolute;
    bottom: 101vh;
    left: 0;
    background: rgba(255, 255, 255, .85);
    border-top: 1px solid #dbdbdb;
}

.dropdown_banner {
    width: 320px;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 10px 8px 10px;
}

.close-banner-block {
    min-height: 29px;
    position: relative;
    padding: 7px 10px;
}

.close-banner-block h2 {
    display: none;
    padding: 0 20px 0 0;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #555555;
}

.close-banner-block.active h2 {
    display: block;
}

.close-banner {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
    border: 1px solid transparent;
    background: transparent;
}

.close-banner:before {
    display: block;
    content: "\2716";
    position: absolute;
    top: -2px;
    left: 0;
    font-family: Arial, Vardana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #a5a5a5;
}

.dropdown_banner .banner-content {

}

.dropdown_banner .banner-content .col-1 {
    width: 43%;
    float: left;
}

.dropdown_banner .banner-content .col-2 {
    width: 57%;
    padding: 0 0 0 4%;
    float: right;
}

.dropdown_banner .img-box {
    width: 100%;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.dropdown_banner .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dropdown_banner .discount {
    display: inline-block;
    vertical-align: top;
    padding: 4px 5px;
    background: #db3434;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
}

.dropdown_banner h3 {
    display: block;
    height: 49px;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333333;
}

.dropdown_banner .inner-row {
    padding: 10px 0;
}

.dropdown_banner .inner-row .col-1 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    float: none;
}

.dropdown_banner .inner-row  .col-2 {
    display: inline-block;
    vertical-align: top;
    width: 51%;
    float: none;
}

.dropdown_banner .price-block p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: #be3a3a;
}

.dropdown_banner .price-block p.old-price {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #333333;
}

.dropdown_banner .price-block p.old-price:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #333333;
}

.red-pill {
    display: block;
    background: #db3434;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 1px 1%;
    text-align: center;
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
}

.dropdown_banner p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #666666;
}

/*-- /Dropdown Banner --*/

.modal_banner_wrapp {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.modal_benner_bg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.modal_banner {
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close-banner-block_2 {
    padding-bottom: 7px;
}

.close-banner-block_2 h2 {
    padding-right: 20px;
    font-family: Arial, Vardana, sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    color: #ffffff;
}

.close-banner-block_2 h2.close_txt {
    display: none;
}

.close-banner-block_2 h2 .time {
    margin: 0 3px;
}

.showed .close-banner-block_2 h2 {
    display: none;
}

.showed .close-banner-block_2 h2.close_txt {
    text-align: right;
    display: block;
}

.close-banner_2 {
    display: block;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
}

.close-banner-block_2 .close-banner_2 {
    position: absolute;
    top: 1px;
    right: -1px;
}

.close-banner_2:before {
    display: block;
    content: "\2716";
    position: absolute;
    top: -2px;
    left: 0;
    font-family: Arial, Vardana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #a5a5a5;
}

.modal_banner .banner-content {
    display: block;
    background: #ffffff;
}

.modal_banner .banner-header {
    padding: 7px 5px;
    text-align: center;
}

.modal_banner .banner-header h3 {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #333333;
}

.modal_banner .img-box {
    height: 200px;
}

.modal_banner .img-box img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal_banner .bottom-row {
    padding: 10px 5px;
}

.modal_banner .bottom-row .col-1 {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    text-align: right;
    padding: 0 3% 0 0;
}

.modal_banner .bottom-row .col-2 {
    display: inline-block;
    vertical-align: top;
    width: 38%;
    padding: 0 0 0 1%;
}

.modal_banner .bottom-row p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    color: #666666;
}

.modal_banner .price-block {

}

.modal_banner .price-block p {
    font-family: Arial, Vardana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #be3a3a;
}

.modal_banner .price-block p.old-price {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: Arial, Vardana, sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    color: #333333;
}

.modal_banner .price-block p.old-price:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #333333;
}
